.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.scroll-snap {
  scroll-snap-align: start;
  padding-block: $scroll-padding;
}
.hidden {
  transform: translateX(1000%);
}
.header-padding {
  margin-inline: auto;
}
.subheader-padding {
  font-size: $step-0;
  color: $clr-bg-secondary;
  font-weight: 300;
  margin-bottom: 3rem;
  margin-inline: clamp(1rem, 15vw, 22rem);
  text-align: center;
}
