@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,17.4,1.2,1140,18.4,1.25,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  --step--2: clamp(0.74rem, calc(0.76rem + -0.04vw), 0.76rem);
  --step--1: clamp(0.91rem, calc(0.9rem + 0.03vw), 0.92rem);
  --step-0: clamp(1.09rem, calc(1.06rem + 0.12vw), 1.15rem);
  --step-1: clamp(1.31rem, calc(1.25rem + 0.26vw), 1.44rem);
  --step-2: clamp(1.57rem, calc(1.48rem + 0.45vw), 1.8rem);
  --step-3: clamp(1.88rem, calc(1.74rem + 0.72vw), 2.25rem);

  --clr-bg-primary: hsl(0, 0%, 100%, 0.55);
  --clr-bg-secondary: hsl(0, 0%, 0%, 0.75);
  --clr-text: hsl(0, 0%, 98%);
  --clr-primary: hsl(0, 0%, 92%);
  --clr-secondary: hsl(191, 92%, 5%);
  --clr-accent: hsl(191, 92%, 24%);

  --svg-filter: invert(99%) sepia(47%) saturate(1%) hue-rotate(291deg)
    brightness(112%) contrast(96%);

  --box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  --scroll-padding: 4.5rem;

  --ff-title: "Montserrat", sans-serif;
  --ff-text: "Montserrat", sans-serif;
}

/* General */

html {
  font-family: var(--ff-text);
  color: var(--clr-secondary);
  font-size: var(--step-0);
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
main {
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-title);
}
h1 {
  font-size: var(--step-3);
}
h2 {
  font-size: var(--step-1);
}

/* Buttons */

button {
  cursor: pointer;
  color: inherit;
}
.btn-mobile-nav-toggle.material-icons {
  display: none;
  font-size: 43px;
  color: var(--clr-secondary);
  z-index: 9999;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  border: 0;
  width: 2.7rem;
  aspect-ratio: 1;
}
.btn__hero,
.btn-contact {
  align-items: center;
  border-radius: 2rem;
  border-style: none;
  font-weight: 500;
  color: var(--clr-text);
  background-color: var(--clr-accent);
}
.btn__hero {
  padding: 0.5em 1em;
  --gap: 0.5rem;
}
.btn-contact {
  display: none;
  padding: 0.4em 0.8em;
  font-size: var(--step--1);
}
.btn__card {
  font-size: var(--step--2);
  padding: 0.2em 0.8em;
  margin-left: auto;
  color: var(--clr-secondary);
  background-color: transparent;
  border: solid 1.2px;
  border-radius: 1rem;
}
.modal__close {
  background-color: transparent;
  border-style: none;
  font-size: 25px;
}
.modal__close.material-icons {
  font-size: 40px;
}
.btn__form,
.btn-whatsapp {
  padding: 0.3em 0.8em;
  border: solid 1.2px var(--clr-accent);
  border-radius: 1rem;
  /* font-size: var(--step--2); */
  color: var(--clr-accent);
  background-color: var(--clr-text);
  margin-left: auto;
  align-items: center;
  justify-content: center;
  --gap: 0.5rem;
}

/* Primary Header */

.primary-header {
  z-index: 10;
  position: fixed;
  padding-inline: clamp(1rem, 3vw, 3rem);
  border-bottom: 1px solid var(--clr-secondary);
  height: var(--scroll-padding);
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary);
}
.left-header {
  align-items: center;
}
.right-header {
  align-items: center;
  --gap: 0;
}
.primary-navigation {
  --gap: 1.2rem;
}
.logo {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: var(--clr-accent);
}
.logo__image {
  min-width: 6.2rem;
}

/* Hero Section */

.section-home {
  flex-direction: column;
  align-items: center;
  padding-top: var(--scroll-padding);
  height: 100vh;
}

/* Hero Carousel */

.carousel-container {
  width: clamp(18rem, 60vw, 60rem);
  height: clamp(13rem, 50vh, 45rem);
  margin: 20px auto;
}
.carousel {
  background: #fff;
  border: 2px solid var(--clr-accent);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}
.slider {
  height: 100%;
  width: 500%;
  flex-shrink: 0;
  transition: transform 500ms ease-in-out;
}
.slider > section {
  flex-basis: 20%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls button.next {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  outline: none;
}
.controls button.prev {
  position: absolute;
  left: 20px;
  top: 20px;
  background: none;
  border: none;
  outline: none;
}
.controls button i {
  font-size: 50px;
}

/* Carrozados Section */

.section-carrozados {
  flex-direction: column;
  padding-top: var(--scroll-padding);
  min-height: 100vh;
}
.carrozados-header {
  padding-left: max(1rem, 6vw);
}
.carrozados-card-container {
  --gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.carrozados-card {
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;
  flex-basis: clamp(16rem, 22vw, 22rem);
  height: clamp(22rem, 38vw, 38rem);
  box-shadow: var(--box-shadow);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.carrozados-card__bottom {
  flex-direction: column;
  --gap: 0.2rem;
  padding: 0.5rem;
  font-size: var(--step--1);
  color: var(--clr-secondary);
  background-color: var(--clr-bg-primary);
}
.carrozados-card.campers {
  background-image: url(../images/carrozados/motor-home/motor-home-3.webp);
}
.carrozados-card.motor-home {
  background-image: url(../images/carrozados/motor-home/motor-home-3.webp);
}
.carrozados-card.taller {
  background-image: url(../images/carrozados/motor-home/motor-home-3.webp);
}
.carrozados-card.foodtruck {
  background-image: url(../images/carrozados/motor-home/motor-home-3.webp);
}

/* Carrozados Modal */

.modal,
.modal__lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.modal {
  z-index: 11;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
.modal__lightbox {
  z-index: 12;
}
.modal__inner {
  flex-direction: column;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border-radius: 1rem;
  padding: min(5vw, 2.5rem);
  width: min(90vw, 70rem);
  height: 85vh;
}
.modal__top {
  justify-content: space-between;
  align-items: center;
}
.modal__content {
  margin-block-end: min(5vw, 2rem);
}
.modal__bottom {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal__card-container {
  flex-basis: clamp(14rem, 36vw, 20rem);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.modal__card-container > p {
  padding: 0.8rem;
  font-size: var(--step--1);
  text-align: center;
}

/* Accesorios Section */

.section-accesorios {
  flex-direction: column;
  padding-top: var(--scroll-padding);
  min-height: 100vh;
}
.header-accesorios {
  padding-left: max(1rem, 6vw);
}
.accesorios-card-container {
  flex-wrap: wrap;
  justify-content: center;
}
.accesorios-card {
  flex-direction: column;
  flex-basis: clamp(14rem, 36vw, 20rem);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  --gap: 0;
}
.accesorios-card__bottom {
  padding: 0.8rem;
  font-size: var(--step--1);
  text-align: center;
}

/* Contacto Section */

.section-contacto {
  flex-direction: column;
  padding-block: var(--scroll-padding);
  min-height: 100vh;
}
.header-contacto {
  padding-left: max(1rem, 6vw);
}
.contacto-container {
  justify-content: center;
  font-size: var(--step--1);
}
.contacto__content {
  flex-direction: column;
  justify-content: space-between;
  padding: clamp(1rem, 2vw, 2rem);
  max-width: 26rem;
  box-shadow: var(--box-shadow);
}
.contacto__top,
.contacto__form-container {
  flex-direction: column;
  padding-bottom: 0.5rem;
  border-bottom: solid 1.2px var(--clr-accent);
}
.contacto__top {
  --gap: 0.5rem;
}
.iframe-googlemaps {
  width: clamp(18rem, 50vw, 45rem);
  height: clamp(20rem, 50vw, 30rem);
  box-shadow: var(--box-shadow);
}
.contacto__form {
  flex-direction: column;
  --gap: 0.5rem;
}
.contacto__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: space-between;
}

/* Footer */
.footer {
  padding: 2rem;
  justify-content: space-between;
  font-size: var(--step--1);
  background-color: var(--clr-secondary);
  color: var(--clr-text);
  min-height: 8rem;
}
.footer__socials-logos {
  filter: var(--svg-filter);
}

/* Support */

@supports (backdrop-filter: blur(18px)) {
  .carrozados-card__bottom {
    backdrop-filter: blur(18px);
  }
}

/* Media Queries */

@media (max-width: 810px) {
  /* nav bar */
  .primary-navigation {
    position: fixed;
    z-index: 10;
    inset: var(--scroll-padding) 0 0 35%;
    padding: 3rem 1.5rem;
    --gap: 2rem;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
    background-color: var(--clr-primary);
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .btn-mobile-nav-toggle.material-icons {
    display: block;
  }
  .btn-contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  /* contacto */
  .contacto-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.scroll-snap {
  scroll-snap-align: start;
}
