.motor-home-section {
  flex-direction: column;
  padding-block: var(--scroll-padding);
  min-height: 100vh;
  --gap: 0;
}
.baner {
  justify-content: center;
  align-items: end;
  height: 20rem;
  overflow: hidden;
}
.baner__image {
  min-width: 40px;
  min-height: 100%;
  object-fit: cover;
}
.motor-home-details {
  justify-content: center;
  padding: 4rem 1rem;
}
.motor-home-details__nav {
  justify-content: center;
  flex-wrap: wrap;
  --gap: min(22vw, 8rem);
}
.motor-home-details__nav > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --gap: 1rem;
}
.motor-home-details__nav > li > img {
  height: 4rem;
  width: 4rem;
  background-color: var(--clr-primary);
  border-radius: 50%;
  border: solid 1px var(--clr-secondary);
}
.motor-home-details__nav > li > p {
  font-size: var(--step--1);
}
.motor-home-content {
  padding-inline: min(10vw, 10rem);
  gap: 4rem;
}
.motor-home-content__text {
  align-items: center;
}

.motor-home-content__image-container {
  justify-content: center;
  align-items: end;
  height: 20rem;
  overflow: hidden;
}
.motor-home-content__image {
  min-width: 40px;
  min-height: 100%;
  object-fit: cover;
}

@media (min-width: 801px) {
  .motor-home-content__text:last-child {
    grid-row-start: 2;
  }
  .motor-home-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* @media (max-width: 800px) {
  .motor-home-content {
    grid-template-columns: 1fr;
  }
} */
